@{
    ViewBag.Title = "Top Page";
}

<div class="jumbotron">
    <h1>MonsterHunter Webツール置き場</h1>
</div>

<div class="row">
    <div class="col-xs-6">
        <h2>MHP2G</h2>
        <a href="~/MHP2G/RndQuest" class="btn btn-lg btn-primary">クエストランダム決定</a>
    </div>
    <div class="col-xs-6">
        <h2>MHP3</h2>
    </div>
</div>